.header-container {
    max-width: 100%;
    margin: 0, auto;
    
}

.title {
    margin-top:-70px;
    background-image: url('./img/wall.png');
    background-repeat: no-repeat;
    color: #000000;
    font-size: 170%;
    line-height: 200px;
    text-align: center;
    width: 1270px;
    height: 200px;
    display: flex;
    justify-content: center;
    }




.posts-container {
    background-image: url('./img/cork.png');
    margin-top: -30px;
    margin-left: -9px;
    margin-right: -9px;
}


.row {
    display: flex;
    flex-wrap: wrap;
}

.card {           
    border-radius: 10px;     
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    overflow: hidden;        
    background-color:rgb(255, 255, 255); 
    margin: 30px; 
    max-height: 300px;
    max-width: 200px;
}

.image {
    margin-left: 25px;
}

.pin {
    text-align: center;
    justify-items: center;
    text-align: center;
    
}

.title-card {
    text-align: center;
}